{% extends "base.html" %}
{% block conteudo %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h2 class=" display"><i class="fa fa-pencil-square-o"aria-hidden="true"></i>Ordem De Serviços</h2>
            <!-- Indicates a successful or positive action -->
            <a href="/os/add/"type="button" class="btn btn-success ml-auto p-2"><i class="fa fa-plus"aria-hidden="true"></i> Adicionar</a>
        </div>
        <div class="card-block">
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {% for m in messages %}
                    {{ m }}
                    {% endfor %}
                </div>
            {% endif %}
             <table class="table table-striped" width="100%" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nª</th>
                        <th><i class="fa fa-user" aria-hidden="true"></i> Cliente</th>
                        <th><i class="fa fa-vcard-o"aria-hidden="true"></i>Tipo/Serviço</th>
                        <th><i class="fa fa-calendar"aria-hidden="true"></i> Status</th>
                         <th><i class="fa fa-calendar"aria-hidden="true"></i> Data Entrega</th>
                        <th><i class="fa fa-cog" aria-hidden="true"></i> Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for os in os_serv %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="">{{os.clientes}}</a></td>
                    <td><a href="">{{os.tipo_servivo}}</a></td>
                    <td>{{os.status_servico}}</td>
                    <td>{{os.data_entrega|date:"d/m/Y"}}</td>
                    <td class="text-center">
                    <a href=""type="button"class="btn btn-warning btn-sm">
                        <i class="fa fa-pencil-square-o"aria-hidden="true"></i>
                    </a>
                    <a type="button"class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"aria-hidden="true"></i>
                    </a>
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock conteudo %}