<form method="post" action="{% url 'entrada' %}" class="js-entrada-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Adicionar Uma Entrada No Estoque</h4>
  </div>
  <div class="modal-body">
    {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{field}}
      {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    </div>
{% endfor %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    
  </div>
</form>